@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 10rem;
    font-weight: 800;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h3 {
    font-size: large;
    font-weight: 700;
}


p,
li {
    font-size: 1rem;
    font-weight: 500;
}

.responsive-icon {
    width: 100%;
    height: auto;
    max-width: 60px;
    /* or any maximum size you prefer */
}